################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/00_simple_factory/bin/Debug/netcoreapp3.1
/00_simple_factory/obj
/01_facade/obj
/.vs/netcore-design-pattern/v16
